In [308]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [362]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [310]:
import pandas as pd
import sys
from sqlalchemy import create_engine
import numpy as np

In [311]:
def create_db_connection():
    # engine = create_engine("mysql+pymysql://" + "username" + ":" + "password" + "@" + "host" + ":" + "port" + "/" + "database" + "?" + "charset=utf8mb4")
    db_user = "root"
    db_password = "Iamn0wa6thgrader"
    db_name = "sales"
    engine = create_engine("mysql+pymysql://" + db_user + ":" + db_password + "@" + "localhost" + ":" + "3306" + "/" + db_name + "?" + "charset=utf8mb4")
    return engine.connect()

In [312]:
file = "Item_Report_With_CustomerOrder_Details_2024_08_09_23_30_01.xlsx"
file2 = "Order_Listing_2024_08_09_11_31_30.xlsx"

In [313]:
df = pd.read_excel(file)
df2 = pd.read_excel(file2)
df = df.rename(columns={'Invoice_No': 'Order_No'})

In [314]:
df = pd.merge(df2,df, how="inner", on="Order_No")
df

,Order_No,Client_OrderID,Order_Type_x,Sub_Order_Type,Customer_Name,Customer_Phone,Customer_Address,Items,My_Amount,Total_Discount,Delivery_Charge,Container_Charge,Total_Tax,Round_Off,Grand_Total,Created,Date,Order_Type_y,Area,Item_Name,Price,Q,Sub_Total,Discount,Tax,Final_Total,Variation,Category,Name,Non_Taxable,SGST_Rate,SGST_Amount,CGST_Rate,CGST_Amount,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,5374,NaN,Dine In (7),Dining,Arun,7.433999e+09,NaN,Crazy & Delicious Peperoni Pork Pepperoni (11 ...,1696.0,0.0,0.0,0.0,0.00,0.00,1696,30 Jul 2024 21:11:37,2024-07-30,Dine In,Dining,Crazy & Delicious Peperoni Pork Pepperoni (11 ...,898.0,1,898.0,0.00,0.00,898.00,11 Inch,Pizza Cucina Originals,Arun,898.0,2.5,0.00,2.5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5374,NaN,Dine In (7),Dining,Arun,7.433999e+09,NaN,Crazy & Delicious Peperoni Pork Pepperoni (11 ...,1696.0,0.0,0.0,0.0,0.00,0.00,1696,30 Jul 2024 21:11:37,2024-07-30,Dine In,Dining,Signature Garlic Bread,199.0,1,199.0,0.00,0.00,199.00,NaN,Starter,Arun,199.0,2.5,0.00,2.5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5374,NaN,Dine In (7),Dining,Arun,7.433999e+09,NaN,Crazy & Delicious Peperoni Pork Pepperoni (11 ...,1696.0,0.0,0.0,0.0,0.00,0.00,1696,30 Jul 2024 21:11:37,2024-07-30,Dine In,Dining,Grilled Chicken (8 Inch),599.0,1,599.0,0.00,0.00,599.00,8 Inch,Pizza Cucina Originals,Arun,599.0,2.5,0.00,2.5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5373,NaN,Dine In (3),Dining,Vijay,9.090697e+09,NaN,"Bbq Paneer (8 Inch), Garlic Bread Special",848.0,0.0,0.0,30.0,0.00,0.00,878,30 Jul 2024 21:04:36,2024-07-30,Dine In,Dining,Garlic Bread Special,249.0,1,249.0,0.00,0.00,249.00,NaN,Starter,Vijay,249.0,2.5,0.00,2.5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5373,NaN,Dine In (3),Dining,Vijay,9.090697e+09,NaN,"Bbq Paneer (8 Inch), Garlic Bread Special",848.0,0.0,0.0,30.0,0.00,0.00,878,30 Jul 2024 21:04:36,2024-07-30,Dine In,Dining,Bbq Paneer (8 Inch),599.0,1,599.0,0.00,0.00,599.00,8 Inch,Pizza Cucina Originals,Vijay,599.0,2.5,0.00,2.5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958,3172,5465705633,Delivery,Zomato,ABHISHEK KARN,NaN,Bengaluru India,"Grilled Veggies Pizza (8 Inch), Mac & Cheese S...",1446.0,349.0,0.0,25.0,54.86,0.14,1177,1 Jan 2024 18:32:15,2024-01-01,Delivery(Parcel),Zomato,Grilled Veggies Pizza (8 Inch),549.0,1,549.0,132.50,20.82,437.32,8 Inch,Veg,ABHISHEK KARN,0.0,2.5,10.41,2.5,10.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4959,3172,5465705633,Delivery,Zomato,ABHISHEK KARN,NaN,Bengaluru India,"Grilled Veggies Pizza (8 Inch), Mac & Cheese S...",1446.0,349.0,0.0,25.0,54.86,0.14,1177,1 Jan 2024 18:32:15,2024-01-01,Delivery(Parcel),Zomato,Mac & Cheese Special Pasta,548.0,1,548.0,132.26,20.78,436.52,NaN,Pasta,ABHISHEK KARN,0.0,2.5,10.39,2.5,10.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4960,3172,5465705633,Delivery,Zomato,ABHISHEK KARN,NaN,Bengaluru India,"Grilled Veggies Pizza (8 Inch), Mac & Cheese S...",1446.0,349.0,0.0,25.0,54.86,0.14,1177,1 Jan 2024 18:32:15,2024-01-01,Delivery(Parcel),Zomato,Red Pasta,349.0,1,349.0,84.23,13.24,278.01,NaN,Pasta,ABHISHEK KARN,0.0,2.5,6.62,2.5,6.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4961,3171,NaN,Dine In (3),Dining,KARTHIK,9.845037e+09,NaN,"2 Course Taster For 2 - Veg (8""), Coolberg Non...",698.0,0.0,0.0,0.0,0.00,0.00,698,1 Jan 2024 18:13:18,2024-01-01,Dine In,Dining,"2 Course Taster For 2 - Veg (8"")",599.0,1,599.0,0.00,0.00,599.00,NaN,Combo,KARTHIK,599.0,2.5,0.00,2.5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4962,3171,NaN,Dine In (3),Dining,KARTHIK,9.845037e+09,NaN,"2 Course Taster For 2 - Veg (8""), Coolberg Non...",698.0,0.0,0.0,0.0,0.00,0.00,698,1 Jan 2024 18:13:18,2024-01-01,Dine In,Dining,Coolberg Non Alcoholic Beer 330ml (Ginger),99.0,1,99.0,0.00,0.00,99.00,Ginger,Drinks,KARTHIK,99.0,2.5,0.00,2.5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [315]:
df
df.to_excel("merged_data.xlsx")

,Order_No,Client_OrderID,Order_Type_x,Sub_Order_Type,Customer_Name,Customer_Phone,Customer_Address,Items,My_Amount,Total_Discount,Delivery_Charge,Container_Charge,Total_Tax,Round_Off,Grand_Total,Created,Date,Order_Type_y,Area,Item_Name,Price,Q,Sub_Total,Discount,Tax,Final_Total,Variation,Category,Name,Non_Taxable,SGST_Rate,SGST_Amount,CGST_Rate,CGST_Amount,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,5374,NaN,Dine In (7),Dining,Arun,7.433999e+09,NaN,Crazy & Delicious Peperoni Pork Pepperoni (11 ...,1696.0,0.0,0.0,0.0,0.00,0.00,1696,30 Jul 2024 21:11:37,2024-07-30,Dine In,Dining,Crazy & Delicious Peperoni Pork Pepperoni (11 ...,898.0,1,898.0,0.00,0.00,898.00,11 Inch,Pizza Cucina Originals,Arun,898.0,2.5,0.00,2.5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5374,NaN,Dine In (7),Dining,Arun,7.433999e+09,NaN,Crazy & Delicious Peperoni Pork Pepperoni (11 ...,1696.0,0.0,0.0,0.0,0.00,0.00,1696,30 Jul 2024 21:11:37,2024-07-30,Dine In,Dining,Signature Garlic Bread,199.0,1,199.0,0.00,0.00,199.00,NaN,Starter,Arun,199.0,2.5,0.00,2.5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5374,NaN,Dine In (7),Dining,Arun,7.433999e+09,NaN,Crazy & Delicious Peperoni Pork Pepperoni (11 ...,1696.0,0.0,0.0,0.0,0.00,0.00,1696,30 Jul 2024 21:11:37,2024-07-30,Dine In,Dining,Grilled Chicken (8 Inch),599.0,1,599.0,0.00,0.00,599.00,8 Inch,Pizza Cucina Originals,Arun,599.0,2.5,0.00,2.5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5373,NaN,Dine In (3),Dining,Vijay,9.090697e+09,NaN,"Bbq Paneer (8 Inch), Garlic Bread Special",848.0,0.0,0.0,30.0,0.00,0.00,878,30 Jul 2024 21:04:36,2024-07-30,Dine In,Dining,Garlic Bread Special,249.0,1,249.0,0.00,0.00,249.00,NaN,Starter,Vijay,249.0,2.5,0.00,2.5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5373,NaN,Dine In (3),Dining,Vijay,9.090697e+09,NaN,"Bbq Paneer (8 Inch), Garlic Bread Special",848.0,0.0,0.0,30.0,0.00,0.00,878,30 Jul 2024 21:04:36,2024-07-30,Dine In,Dining,Bbq Paneer (8 Inch),599.0,1,599.0,0.00,0.00,599.00,8 Inch,Pizza Cucina Originals,Vijay,599.0,2.5,0.00,2.5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958,3172,5465705633,Delivery,Zomato,ABHISHEK KARN,NaN,Bengaluru India,"Grilled Veggies Pizza (8 Inch), Mac & Cheese S...",1446.0,349.0,0.0,25.0,54.86,0.14,1177,1 Jan 2024 18:32:15,2024-01-01,Delivery(Parcel),Zomato,Grilled Veggies Pizza (8 Inch),549.0,1,549.0,132.50,20.82,437.32,8 Inch,Veg,ABHISHEK KARN,0.0,2.5,10.41,2.5,10.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4959,3172,5465705633,Delivery,Zomato,ABHISHEK KARN,NaN,Bengaluru India,"Grilled Veggies Pizza (8 Inch), Mac & Cheese S...",1446.0,349.0,0.0,25.0,54.86,0.14,1177,1 Jan 2024 18:32:15,2024-01-01,Delivery(Parcel),Zomato,Mac & Cheese Special Pasta,548.0,1,548.0,132.26,20.78,436.52,NaN,Pasta,ABHISHEK KARN,0.0,2.5,10.39,2.5,10.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4960,3172,5465705633,Delivery,Zomato,ABHISHEK KARN,NaN,Bengaluru India,"Grilled Veggies Pizza (8 Inch), Mac & Cheese S...",1446.0,349.0,0.0,25.0,54.86,0.14,1177,1 Jan 2024 18:32:15,2024-01-01,Delivery(Parcel),Zomato,Red Pasta,349.0,1,349.0,84.23,13.24,278.01,NaN,Pasta,ABHISHEK KARN,0.0,2.5,6.62,2.5,6.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4961,3171,NaN,Dine In (3),Dining,KARTHIK,9.845037e+09,NaN,"2 Course Taster For 2 - Veg (8""), Coolberg Non...",698.0,0.0,0.0,0.0,0.00,0.00,698,1 Jan 2024 18:13:18,2024-01-01,Dine In,Dining,"2 Course Taster For 2 - Veg (8"")",599.0,1,599.0,0.00,0.00,599.00,NaN,Combo,KARTHIK,599.0,2.5,0.00,2.5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4962,3171,NaN,Dine In (3),Dining,KARTHIK,9.845037e+09,NaN,"2 Course Taster For 2 - Veg (8""), Coolberg Non...",698.0,0.0,0.0,0.0,0.00,0.00,698,1 Jan 2024 18:13:18,2024-01-01,Dine In,Dining,Coolberg Non Alcoholic Beer 330ml (Ginger),99.0,1,99.0,0.00,0.00,99.00,Ginger,Drinks,KARTHIK,99.0,2.5,0.00,2.5,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [316]:
df = pd.read_excel("merged_data.xlsx")

In [317]:
# Creating Date Dim Table
df['Date']= pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Weekday'] = df['Date'].dt.day_name()
date_df = pd.DataFrame()
df['DateID'] = df['Date'].factorize()[0] + 1

In [318]:
date_df = df[['DateID','Date','Year','Month','Day','Weekday']].drop_duplicates().reset_index(drop=True)
date_df

     DateID       Date  Year  Month  Day    Weekday
0         1 2024-07-30  2024      7   30    Tuesday
1         2 2024-07-28  2024      7   28     Sunday
2         3 2024-07-27  2024      7   27   Saturday
3         4 2024-07-26  2024      7   26     Friday
4         5 2024-07-25  2024      7   25   Thursday
..      ...        ...   ...    ...  ...        ...
190     191 2024-01-05  2024      1    5     Friday
191     192 2024-01-04  2024      1    4   Thursday
192     193 2024-01-03  2024      1    3  Wednesday
193     194 2024-01-02  2024      1    2    Tuesday
194     195 2024-01-01  2024      1    1     Monday

[195 rows x 6 columns]

In [319]:
# Creating Customer Dim Table
df['Customer_Phone'] = df['Customer_Phone'].apply(
    lambda x: str(int(float(x))) if pd.notnull(x) and str(x).replace('.', '', 1).isdigit() else x
)

# Creating Customer ID
df['CustomerID'] = df[['Name','Customer_Phone']].astype(str).agg('-'.join, axis=1).factorize()[0] + 1

# Creating the Customer Dimension Table
df_customer = df[['CustomerID', 'Name', 'Customer_Phone']].drop_duplicates().reset_index(drop=True)
df_customer.columns = ['CustomerID', 'CustomerName', 'Phone'] 
df_customer

      CustomerID   CustomerName       Phone
0              1           Arun  7433999359
1              2          Vijay  9090696938
2              3      Vijayshri         NaN
3              4      Ebad Khan         NaN
4              5         Mahesh  7899801539
...          ...            ...         ...
1413        1414     Devi Menon         NaN
1414        1415        revanth  9908846632
1415        1416   Arpit Bansal         NaN
1416        1417  ABHISHEK KARN         NaN
1417        1418        KARTHIK  9845037247

[1418 rows x 3 columns]

In [436]:

# Creating Item Dimension Table
df['ItemID'] = df[['Item_Name', 'Category','Variation',]].astype(str).agg('-'.join, axis=1).factorize()[0] + 1
df_items = df[['ItemID', 'Item_Name', 'Category', 'Variation']].drop_duplicates().reset_index(drop=True)
df_items.columns = ['ItemID', 'ItemName', 'Category', 'Variation']  


mapping = {
    'BBQ Chicken Pizza (8 Inch)': 'BBQ Chicken (8 Inch)',
    'Crazy & Delicious Pepperoni Pizza (8 Inch)': 'Crazy & Delicious Pepperoni (8 Inch)',
    'Crazy & Delicious Pepperoni Pizza (11 Inch)': 'Crazy & Delicious Pepperoni (11 Inch)',
    'Crazy & Delicious Peperoni Chicken Pepperoni (8 Inch)':'Crazy & Delicious Pepperoni (8 Inch)', 
    'Crazy & Delicious Peperoni Chicken Pepperoni (11 Inch)':'Crazy & Delicious Pepperoni (11 Inch)',
    'Crazy & Delicious Peperoni Pork Pepperoni (11 Inch)':'Crazy & Delicious Pepperoni (11 Inch)', 
    'Crazy & Delicious Peperoni Pork Pepperoni (8 Inch)': 'Crazy & Delicious Pepperoni (8 Inch)',
    'Chicken & Onion 8" (8 Inch)': 'Chicken & Onion (8 Inch)',
    'Paneer & Corn 8" (8 Inch)': 'Paneer & Corn (8 Inch)',
    'Pizza Cucina Signature Garlic Bread': 'Signature Garlic Bread',
    'Paneer & Onion 8" (8 Inch)':'Paneer & Onion (8 Inch)',
    'Chicken & Corn 8" (8 Inch)': 'Chicken & Corn (8 Inch)',
    'Chicken Mushroom 8" (8 Inch)': 'Chicken Mushroom (8 Inch)',
    'Chocolate Pizza (New Lower Price)': 'Chocolate Pizza',
    'Red Pasta': 'Red Pasta - Veg (Full)',
    'BBQ Chicken Pizza (11 Inch)':'BBQ Chicken (11 Inch)',
    'Chefs Special Shrimp On The Run Pizza (11 Inch)': 'Chefs Special Shrimp On The Run (11 Inch)',
    'White Pasta - Chicken':'White Pasta - Chicken (Full)',
    'White Pasta':'White Pasta (Full)',
    'Tomato Rounds & Corn 8" (8 Inch)':'Tomato Rounds & Corn (8 Inch)',
    'Chicken & Olives 8" (8 Inch)': 'Chicken & Olives (8 Inch)',
    'Chefs Special Shrimp On The Run Pizza (8 Inch)':'Chefs Special Shrimp On The Run (8 Inch)',
    'Pizza Paneer Pizza (11 Inch)': 'Pizza Paneer (11 Inch)',
    'Pizza Paneer Pizza (8 Inch)': 'Pizza Paneer (8 Inch)',
    'Simple & Amazing Pizza (11 Inch)':'Simple & Amazing (11 Inch)',
    'Simple & Amazing Pizza (8 Inch)': 'Simple & Amazing (8 Inch)',
    'Hot & Spicy Chicken Pizza (11 Inch)': 'Hot & Spicy Chicken (11 Inch)',
    'Hot & Spicy Chicken Pizza (8 Inch)': 'Hot & Spicy Chicken (8 Inch)',
    'Original Margherita Pizza (11 Inch)': 'Original Margherita (11 Inch)',
    'Original Margherita Pizza (8 Inch)':'Original Margherita (8 Inch)',
    'Margherita Special Pizza (11 Inch)':'Margherita Special (11 Inch)',
    'Margherita Special Pizza (8 Inch)':'Margherita Special (8 Inch)',
    'Grilled Chicken Pizza (11 Inch)':'Grilled Chicken (11 Inch)',
    'Grilled Chicken Pizza (8 Inch)':'Grilled Chicken (8 Inch)',
    'Pizza Cucina Special Pasta -Veg': 'Pizza Cucina Special Pasta - Veg',
    'Pizza Cucina Special Pasta -veg': 'Pizza Cucina Special Pasta - Veg',
    'Pizza Cucina Special Pasta -chicken': 'Pizza Cucina Special Pasta -Chicken (Full)',
    'Pizza Cucina Special Pasta -Chicken': 'Pizza Cucina Special Pasta -Chicken (Full)'
    
}

df_items = df_items[(df_items.Category != 'Fruit') & (df_items.Category != 'Removed Items from Menu')]
df_items['ItemName'] = df_items['ItemName'].map(mapping).fillna(df_items['ItemName'])
df_items = df_items[~((df_items.Category == 'Taste The Best @Today\'s Special Prices') & (df_items.ItemName == 'Bbq Paneer - 8 Inch'))]
df_items = df_items.drop_duplicates(subset='ItemName', keep='first').reset_index(drop=True)
df_items['ItemID'] = range(1, len(df_items) + 1)
df_items = df_items.sort_values(by='ItemName')
df_items.ItemID.nunique()
df_items[df_items.ItemName.str.contains('Pizza',case=False)]

201

,ItemID,ItemName,Category,Variation
142,143,"6"" Grilled Veggies Pizza",Taste The Best @Today's Special Prices,NaN
146,147,"6"" Pizza Paneer",Taste The Best @Today's Special Prices,NaN
82,83,Boscaiola Pizza (11 Inch),Gourmet Pizzas,11 Inch
158,159,Boscaiola Pizza (8 Inch),Gourmet Pizzas,8 Inch
56,57,Chicken Keema Pizza (8 Inch),Indo-Italian Pizzas,8 Inch
192,193,Chocolate Pizza,Dessert,NaN
65,66,Grilled Veggies Pizza (11 Inch),Pizza Cucina Originals,11 Inch
22,23,Grilled Veggies Pizza (8 Inch),Pizza Cucina Originals,8 Inch
21,22,Parmesan Pizza - Chicken (8 Inch),Exotic Line,8 Inch
153,154,Pesto Pizza - Corn (8 Inch),Exotic Line,8 Inch
157,158,Pesto Pizza - Paneer (8 Inch),Exotic Line,8 Inch
52,53,Pizza Alla Diavola - Chicken (11 Inch),Gourmet Pizzas,11 Inch
59,60,Pizza Alla Diavola - Chicken (8 Inch),Gourmet Pizzas,8 Inch
53,54,Pizza Alla Diavola - Pork (8 Inch),Gourmet Pizzas,8 Inch
46,47,Pizza Cucina Special Cheesy Dip,Addons,NaN
174,175,Pizza Cucina Special Pasta - Veg,Pasta,NaN
122,123,Pizza Cucina Special Pasta -Chicken (Full),Pasta,Full
127,128,Pizza Cucina Special Pasta -veg (Half),Pasta,Half
64,65,Pizza Paneer (11 Inch),Pizza Cucina Originals,11 Inch
130,131,Pizza Paneer (8 Inch),Pizza Cucina Originals,8 Inch
92,93,Spicy Chicken Pizza Fiesta (11 Inch),Gourmet Pizzas,11 Inch
143,144,Spicy Chicken Pizza Fiesta (8 Inch),Gourmet Pizzas,8 Inch
39,40,Suku Suku Hawaiian Pineapple Pizza (11 Inch),Fruit Pizzas,11 Inch
91,92,Suku Suku Hawaiian Pineapple Pizza (8 Inch),Fruit Pizzas,8 Inch

In [438]:
#Recleaning the ItemIDs in the original dataframe, so that the sales fact table can be structured accordingly

df = df[(df.Category != 'Fruit') & (df.Category != 'Removed Items from Menu')]
df['Item_Name'] = df['Item_Name'].map(mapping).fillna(df['Item_Name'])
df = df[~((df.Category == 'Taste The Best @Today\'s Special Prices') & (df.Item_Name == 'Bbq Paneer - 8 Inch'))]

df['ItemID'] = df[['Item_Name', 'Category','Variation']].astype(str).agg('-'.join, axis=1).factorize()[0] + 1
df.ItemID.nunique()
df_test = df[['Item_Name','ItemID']]
df_test[df_test.Item_Name == 'Chicken Minestrone Soup']

229

                    Item_Name  ItemID
1953  Chicken Minestrone Soup     201
2349  Chicken Minestrone Soup     201
3497  Chicken Minestrone Soup     201
3769  Chicken Minestrone Soup     201
3935  Chicken Minestrone Soup     201
3944  Chicken Minestrone Soup     201
4366  Chicken Minestrone Soup     201
4555  Chicken Minestrone Soup     201
4644  Chicken Minestrone Soup     201

In [439]:
# Handling NaN values by converting them to a placeholder string like 'Unknown'
df['Order_Type_x'] = df['Order_Type_x'].fillna('Unknown').astype(str)
df['Sub_Order_Type'] = df['Sub_Order_Type'].fillna('Unknown').astype(str)

# Generating unique OrderTypeID based on the combination of Order_Type_x and Sub_Order_Type
df['OrderTypeID'] = df[['Order_Type_x', 'Sub_Order_Type']].agg('-'.join, axis=1).factorize()[0] + 1

# Creating the Order Dimension DataFrame
df_orders = df[['OrderTypeID', 'Order_Type_x', 'Sub_Order_Type']].drop_duplicates().reset_index(drop=True)
df_orders.columns = ['OrderTypeID', 'OrderType', 'SubOrderType']  # Renaming columns
df_orders

    OrderTypeID     OrderType                  SubOrderType
0             1   Dine In (7)                        Dining
1             2   Dine In (3)                        Dining
2             3      Delivery         PIZZA CUCINA - Swiggy
3             4      Delivery                        Zomato
4             5   Dine In (6)                        Dining
5             6   Dine In (2)                        Dining
6             7   Dine In (3)                       Dine In
7             8       Pick Up                       Pick Up
8             9       Unknown                       Unknown
9            10  Dine In (12)                        Dining
10           11  Dine In (11)                        Dining
11           12      Delivery                      Delivery
12           13   Dine In (5)                        Dining
13           14      Delivery                  Home Website
14           15   Dine In (4)                        Dining
15           16   Dine In (7)                       Dine In
16           17   Dine In (2)                       Dine In
17           18   Dine In (8)                        Dining
18           19      Delivery       Pizza Cucina - Eksecond
19           20   Dine In (1)                        Dining
20           21   Dine In (9)                        Dining
21           22   Dine In (2)                       Pick Up
22           23  Dine In (10)                        Dining
23           24      Delivery  Pizza Cucina - GrowthFalcons
24           25   Dine In (1)                       Dine In
25           26      Delivery         Pizza Cucina - Myfojo
26           27  Dine In (11)                       Dine In
27           28   Dine In (5)                       Dine In
28           29   Dine In (6)                       Dine In
29           30       Pick Up                       Dine In

In [452]:
df['SalesID'] = range(1, len(df) + 1)
sales_fact_df = df[['SalesID','DateID', 'CustomerID', 'ItemID', 'OrderTypeID', 'Order_No','Q','Grand_Total', 'Final_Total']].copy()
sales_fact_df.columns = ['SalesID','DateID', 'CustomerID', 'ItemID', 'OrderTypeID','InvoiceNo', 'Quantity', 'OrderTotal', 'ItemTotal']  # Renaming columns for clarity
sales_fact_df.ItemID.nunique()

201

In [453]:
conn = create_db_connection()

In [455]:
db_table_name = "ItemDimension"
df_items.to_sql(db_table_name, conn, if_exists='replace', index=False)

201

In [394]:
df.columns.get_loc('Unnamed: 19')
df.columns.get_loc('Unnamed: 35')

KeyError: 'Unnamed: 19'

In [327]:
#Removing 'Unnamed Columns'
count = 0
columns_list = []
for i in df.columns:
    if count>=35 and count<=51:
        columns_list.append(i)
    count+=1
columns_list
df.drop(columns_list,axis=1,inplace=True)

['Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28',
 'Unnamed: 29',
 'Unnamed: 30',
 'Unnamed: 31',
 'Unnamed: 32',
 'Unnamed: 33',
 'Unnamed: 34',
 'Unnamed: 35']

In [442]:
df=df.drop('ItemID',axis=1)
df = df.merge(df_items[['ItemID', 'ItemName']],
              left_on='Item_Name',
              right_on='ItemName',
              how='left',
              suffixes=('', '_from_merge'))
df

,Order_No,Client_OrderID,Order_Type_x,Sub_Order_Type,Customer_Name,Customer_Phone,Customer_Address,Items,My_Amount,Total_Discount,Delivery_Charge,Container_Charge,Total_Tax,Round_Off,Grand_Total,Created,Date,Order_Type_y,Area,Item_Name,Price,Q,Sub_Total,Discount,Tax,Final_Total,Variation,Category,Name,Non_Taxable,SGST_Rate,Year,Month,Day,Weekday,DateID,CustomerID,OrderTypeID,SalesID,ItemName,ItemName_from_merge,ItemID,ItemName_from_merge
0,5374,NaN,Dine In (7),Dining,Arun,7433999359,NaN,Crazy & Delicious Peperoni Pork Pepperoni (11 ...,1696.0,0.0,0.0,0.0,0.00,0.00,1696,30 Jul 2024 21:11:37,2024-07-30,Dine In,Dining,Crazy & Delicious Pepperoni (11 Inch),898.0,1,898.0,0.00,0.00,898.00,11 Inch,Pizza Cucina Originals,Arun,898.0,2.5,2024,7,30,Tuesday,1,1,1,1,Crazy & Delicious Pepperoni (11 Inch),Crazy & Delicious Pepperoni (11 Inch),1,Crazy & Delicious Pepperoni (11 Inch)
1,5374,NaN,Dine In (7),Dining,Arun,7433999359,NaN,Crazy & Delicious Peperoni Pork Pepperoni (11 ...,1696.0,0.0,0.0,0.0,0.00,0.00,1696,30 Jul 2024 21:11:37,2024-07-30,Dine In,Dining,Signature Garlic Bread,199.0,1,199.0,0.00,0.00,199.00,NaN,Starter,Arun,199.0,2.5,2024,7,30,Tuesday,1,1,1,2,Signature Garlic Bread,Signature Garlic Bread,2,Signature Garlic Bread
2,5374,NaN,Dine In (7),Dining,Arun,7433999359,NaN,Crazy & Delicious Peperoni Pork Pepperoni (11 ...,1696.0,0.0,0.0,0.0,0.00,0.00,1696,30 Jul 2024 21:11:37,2024-07-30,Dine In,Dining,Grilled Chicken (8 Inch),599.0,1,599.0,0.00,0.00,599.00,8 Inch,Pizza Cucina Originals,Arun,599.0,2.5,2024,7,30,Tuesday,1,1,1,3,Grilled Chicken (8 Inch),Grilled Chicken (8 Inch),3,Grilled Chicken (8 Inch)
3,5373,NaN,Dine In (3),Dining,Vijay,9090696938,NaN,"Bbq Paneer (8 Inch), Garlic Bread Special",848.0,0.0,0.0,30.0,0.00,0.00,878,30 Jul 2024 21:04:36,2024-07-30,Dine In,Dining,Garlic Bread Special,249.0,1,249.0,0.00,0.00,249.00,NaN,Starter,Vijay,249.0,2.5,2024,7,30,Tuesday,1,2,2,4,Garlic Bread Special,Garlic Bread Special,4,Garlic Bread Special
4,5373,NaN,Dine In (3),Dining,Vijay,9090696938,NaN,"Bbq Paneer (8 Inch), Garlic Bread Special",848.0,0.0,0.0,30.0,0.00,0.00,878,30 Jul 2024 21:04:36,2024-07-30,Dine In,Dining,Bbq Paneer (8 Inch),599.0,1,599.0,0.00,0.00,599.00,8 Inch,Pizza Cucina Originals,Vijay,599.0,2.5,2024,7,30,Tuesday,1,2,2,5,Bbq Paneer (8 Inch),Bbq Paneer (8 Inch),5,Bbq Paneer (8 Inch)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4871,3172,5465705633,Delivery,Zomato,ABHISHEK KARN,NaN,Bengaluru India,"Grilled Veggies Pizza (8 Inch), Mac & Cheese S...",1446.0,349.0,0.0,25.0,54.86,0.14,1177,1 Jan 2024 18:32:15,2024-01-01,Delivery(Parcel),Zomato,Grilled Veggies Pizza (8 Inch),549.0,1,549.0,132.50,20.82,437.32,8 Inch,Veg,ABHISHEK KARN,0.0,2.5,2024,1,1,Monday,195,1417,4,4872,Grilled Veggies Pizza (8 Inch),Grilled Veggies Pizza (8 Inch),23,Grilled Veggies Pizza (8 Inch)
4872,3172,5465705633,Delivery,Zomato,ABHISHEK KARN,NaN,Bengaluru India,"Grilled Veggies Pizza (8 Inch), Mac & Cheese S...",1446.0,349.0,0.0,25.0,54.86,0.14,1177,1 Jan 2024 18:32:15,2024-01-01,Delivery(Parcel),Zomato,Mac & Cheese Special Pasta,548.0,1,548.0,132.26,20.78,436.52,NaN,Pasta,ABHISHEK KARN,0.0,2.5,2024,1,1,Monday,195,1417,4,4873,Mac & Cheese Special Pasta,Mac & Cheese Special Pasta,148,Mac & Cheese Special Pasta
4873,3172,5465705633,Delivery,Zomato,ABHISHEK KARN,NaN,Bengaluru India,"Grilled Veggies Pizza (8 Inch), Mac & Cheese S...",1446.0,349.0,0.0,25.0,54.86,0.14,1177,1 Jan 2024 18:32:15,2024-01-01,Delivery(Parcel),Zomato,Red Pasta - Veg (Full),349.0,1,349.0,84.23,13.24,278.01,NaN,Pasta,ABHISHEK KARN,0.0,2.5,2024,1,1,Monday,195,1417,4,4874,Red Pasta - Veg (Full),Red Pasta - Veg (Full),46,Red Pasta - Veg (Full)
4874,3171,NaN,Dine In (3),Dining,KARTHIK,9845037247,NaN,"2 Course Taster For 2 - Veg (8""), Coolberg Non...",698.0,0.0,0.0,0.0,0.00,0.00,698,1 Jan 2024 18:13:18,2024-01-01,Dine In,Dining,"2 Course Taster For 2 - Veg (8"")",599.0,1,599.0,0.00,0.00,599.00,NaN,Combo,KARTHIK,599.0,2.5,2024,1,1,Monday,195,1418,2,4875,"2 Course Taster For 2 - Veg (8"")","2 Course Taster For 2 - Veg (8"")",168,"2 Course Taster For 2 - Veg (8"")"
4875,3171,NaN,Dine In (3),Dining,KARTHIK,9845037247,NaN,"2 Course Taster For 2 - Veg (8""), Coolberg Non...",698.0,0.0,0.0,0.0,0.00,0.00,698,1 Jan 2024 18:13:18,2024-01-01,Dine In,Dining,Coolberg Non Alcoholic Beer 330ml (Ginger),99.0,1,99.0,0.00,0.00,99.00,Ginger,Drinks,KARTHIK,99.0,2.5,2024,1,1,Monday,195,1418,2,4876,Coolberg Non Alcoholic Beer 330ml (Ginger),Coolberg Non Alcoholic Beer 330ml (Ginger),85,Coolberg Non Alcoholic Beer 330ml (Ginger)

In [443]:
df_missing = df[df['ItemID'].isna()].merge(
    df_items[['ItemID', 'ItemName', 'Category', 'Variation']],
    left_on=['Item_Name', 'Category', 'Variation'],
    right_on=['ItemName', 'Category', 'Variation'],
    how='left'
)

In [444]:
contains = r'Chicken|chicken|Pepperoni|Non-Veg|Shrimp|Pork'
df_items['Category_2'] = 'Veg'
df_items.loc[df_items['ItemName'].str.contains(contains, case=False, na=False), 'Category_2'] = 'Non-Veg'
df_items_non_veg = df_items[df_items['Category_2'] == 'Non-Veg']
df_items = df_items.merge(df_items_non_veg, on=['ItemName','ItemID','Category','Variation'],how = "left")

In [448]:
#df_items.drop('Category_2_y',axis=1,inplace=True)

In [451]:
#df_items.rename({'Category_2_x':'Category_2'},axis=1,inplace=True)

In [456]:
df_items.Category_2.value_counts()

Category_2
Veg        139
Non-Veg     62
Name: count, dtype: int64

In [462]:
df_orders.rename

    OrderTypeID     OrderType                  SubOrderType
0             1   Dine In (7)                        Dining
1             2   Dine In (3)                        Dining
2             3      Delivery         PIZZA CUCINA - Swiggy
3             4      Delivery                        Zomato
4             5   Dine In (6)                        Dining
5             6   Dine In (2)                        Dining
6             7   Dine In (3)                       Dine In
7             8       Pick Up                       Pick Up
8             9       Unknown                       Unknown
9            10  Dine In (12)                        Dining
10           11  Dine In (11)                        Dining
11           12      Delivery                      Delivery
12           13   Dine In (5)                        Dining
13           14      Delivery                  Home Website
14           15   Dine In (4)                        Dining
15           16   Dine In (7)                       Dine In
16           17   Dine In (2)                       Dine In
17           18   Dine In (8)                        Dining
18           19      Delivery       Pizza Cucina - Eksecond
19           20   Dine In (1)                        Dining
20           21   Dine In (9)                        Dining
21           22   Dine In (2)                       Pick Up
22           23  Dine In (10)                        Dining
23           24      Delivery  Pizza Cucina - GrowthFalcons
24           25   Dine In (1)                       Dine In
25           26      Delivery         Pizza Cucina - Myfojo
26           27  Dine In (11)                       Dine In
27           28   Dine In (5)                       Dine In
28           29   Dine In (6)                       Dine In
29           30       Pick Up                       Dine In

In [469]:
#df.drop(['ItemName_from_merge','ItemName'],axis=1,inplace=True)

In [491]:
df

Items
Paneer & Corn (8 Inch)                                                                                          71
Garlic Bread                                                                                                    55
Mushroon & Corn (8 Inch), Paneer & Corn (8 Inch)                                                                50
White Pasta                                                                                                     38
Original Margherita Pizza (8 Inch)                                                                              38
Pizza Cucina Signature Garlic Bread                                                                             29
Grilled Veggies Pizza (8 Inch)                                                                                  25
6" Original Margherita                                                                                          23
Original Margherita (8 Inch)                                                                                    20
Crazy & Delicious Pepperoni Pizza (8 Inch), Soft Drink (750 Ml - Any Available)                                 19
Original Margherita Pizza (11 Inch)                                                                             19
Crazy & Delicious Pepperoni Pizza (11 Inch)                                                                     19
Original Margherita Pizza (8 Inch), Pizza Cucina Signature Garlic Bread, Soft Drink (750 Ml - Any Available)    18
2 Course Taster For 2 - Veg (8")                                                                                16
Bbq Paneer (8 Inch)                                                                                             16
Original Margherita Pizza (11 Inch), Soft Drink (750 Ml - Any Available)                                        16
Soft Drink (750 Ml - Any Available), White Pasta                                                                14
Garlic Bread Special                                                                                            14
BBQ Chicken Pizza (11 Inch), Soft Drink (750 Ml - Any Available)                                                14
Signature Garlic Bread                                                                                          14
Name: count, dtype: int64

In [ ]:
df.to_excel('Final_Dataset')